.container{
    margin: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 17px;
    border: 1px solid #c6cdff;
    border-radius: 6px;
}

.box{
    margin: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 17px;
}

.form{
    display: flex;
    flex-direction: column; 
    margin: 10px;
    // border: 1px solid #343dff;
    padding: 7px;
    border-radius: 5px;
}