.container{
    margin: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 17px;
    border: 1px solid #c6cdff;
    border-radius: 6px;
}

.box{
    margin: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 17px;
}
.row mat-form-field{
    margin: 10px 5px;
}

.row form{
    border: 1px solid #c6cdff;
    border-radius: 5px;
    margin: 16px 0px;
    padding: 20px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}